{% extends "layout.html" %}

{% block title %}
    Get Random Book by Reading Time
{% endblock %}

{% block body %}
    {% if time_ranges %}
        <form action="{{ url_for('get_random_by_time') }}" method="post">
            <div class="form-group">
                <select name="hour" class="btn btn-light">
                    <option disabled selected value="">Choose approximate reading time (hours)</option>
                    {% for i in time_ranges %} 
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-dark" type="submit">Submit</button>
        </form>
    {% elif result %}
        <div class="container p-5">
            <div class="d-flex justify-contents-center flex-wrap">
                <img src="{{ result['cover'] }}" class="img-fluid mx-auto">
            </div>
            <div class="flex-wrap p-3">
                <p class="fs-4">{{ result['title'] }}</p>
                {% if result['hour'] == 1 %}
                    <p class="fs-5">~{{ result['hour'] }} hour</p>
                {% else %}
                    <p class="fs-5">~{{ result['hour'] }} hours</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}